azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
azure-mgmt-core==1.4.0
azure-mgmt-costmanagement==4.0.1
boto3==1.34.124
botocore==1.34.124
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.4
coloredlogs==15.0.1
cryptography==43.0.0
docutils==0.16
executor==23.2
fasteners==0.19
google-api-core==2.19.1
google-api-python-client==2.135.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
grpcio==1.65.1
grpcio-status==1.65.1
httplib2==0.22.0
humanfriendly==10.0
hvac==2.2.0
idna==3.7
importlib-resources==6.1.1
isodate==0.6.1
jmespath==1.0.1
msal==1.30.0
msal-extensions==1.2.0
msrest==0.7.1
oauthlib==3.2.2
packaging==24.1
portalocker==2.10.1
property-manager==3.0
proto-plus==1.24.0
protobuf==5.27.2
pyasn1==0.5.1
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.0.7
verboselogs==1.7
